.Main {
  height: auto;
  width: auto;
  color: brown;
  background-color: bisque;
  font-size: 2em;
  font-weight: 500;
  text-decoration: underline;
  font-style: italic;
}

button {
  height: 25px;
  width: 100px;
}