html,
body {
  height: 100%;
  width: 100%;
}

.App {
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}